body {
    background-color: #2083b1;
    color: #dbdbdb;
  }

  .side {
    background-color:#7c3338;
    color: #dbdbdb;
    width:300px;
    height:300px;
    text-align:left;

  } 
  
  .content {
    background-color:#2c2c2c;
    color: #dbdbdb;
    width:750px;
    height:1000px;
    vertical-align:middle;
    text-align:center;
    margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
  }
  article {
    display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
  }