body {
    font-family:'Noto Sans JP',sans-serif;
    background-color: #2083b1;
    color: #dbdbdb;
  }

  .side {
    background-color:#ff838b;
    width:100px;
    height:300px;
    text-align:center;
  } 
  
  .content {
    background-color:#a8a8a8;
    color: #dbdbdb;

    text-align:center;
    margin-left:5px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
  }
  article {
    display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
  }